
.icon-bell:before { content: '\e800'; } /* '' */
.icon-lightbulb:before { content: '\e801'; } /* '' */
.icon-zoom-out:before { content: '\e802'; } /* '' */
.icon-zoom-out-outline:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e804'; } /* '' */
.icon-zoom-in:before { content: '\e805'; } /* '' */
.icon-zoom-in-outline:before { content: '\e808'; } /* '' */
.icon-resize-full-outline:before { content: '\e809'; } /* '' */
.icon-at-circled:before { content: '\e80a'; } /* '' */
.icon-up:before { content: '\e80e'; } /* '' */
.icon-down-outline:before { content: '\e80f'; } /* '' */
.icon-up-outline:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e81c'; } /* '' */
.icon-at:before { content: '\e81f'; } /* '' */
.icon-down:before { content: '\e823'; } /* '' */
.icon-left:before { content: '\e824'; } /* '' */
.icon-right:before { content: '\e825'; } /* '' */
.icon-left-outline:before { content: '\e826'; } /* '' */
.icon-right-outline:before { content: '\e827'; } /* '' */
.icon-compass:before { content: '\e82b'; } /* '' */
.icon-direction:before { content: '\e82c'; } /* '' */
.icon-direction-outline:before { content: '\e82d'; } /* '' */
.icon-thumbs-up:before { content: '\e82e'; } /* '' */
.icon-thumbs-down:before { content: '\e82f'; } /* '' */
.icon-flag-filled:before { content: '\e830'; } /* '' */
.icon-flag:before { content: '\e831'; } /* '' */
.icon-eye-outline:before { content: '\e832'; } /* '' */
.icon-eye:before { content: '\e833'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e834'; } /* '' */
.icon-cancel-circled:before { content: '\e835'; } /* '' */
.icon-th-outline:before { content: '\e83a'; } /* '' */
.icon-heart:before { content: '\e83b'; } /* '' */
.icon-heart-filled:before { content: '\e83c'; } /* '' */
.icon-spin5:before { content: '\e83d'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */