$basePaddingTop: 15px;
$basePaddingTopSmAndMd: 28px;
$mainFontColor: #000;
$mainFontColor2: #ffac00;
$smallFontSizeMd: 10px;
$smallFontSizeSm: 9px;
$bigFontSizeXs: 23px;
$bigFontSizeSm: 33px;
$bigFontSizeMd: 45px;
$mediumFontSize: 14px;
$mediumFontSizeSm: 12px;
$mediumFontSizeXs: 10px;
$radiusOfPhoneCallingIconSvg: 10px;

// переопределили warning в бутсрапе на свой оранжевый!!
$warning: $mainFontColor2;
// уменьшить margin
//$spacer: 0rem;

@import "fonts";

// Custom.scss
// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Верстка Mobile First: XS - телефон, SM - планшет - перевернуты телефон, MD - монитор, LG - широкий экран

body {
  font-family: Futura, sans-serif;
}

.first-section {
  // Common properties
  background: url('../img/header-bg.jpg');
  background-size: cover;
  padding: $basePaddingTop 0;
  color: $mainFontColor;

  header {
    #mainNavbar {
      a {
        &:first-of-type {
          font-size: $mediumFontSize + 2;
        }
      }
    }
    // properties for all <a> in header-bottom
    .header-bottom {
      a {
        color: $mainFontColor;
        &:hover {
          text-decoration: none;
          //box-shadow: 0 0 5px 5px rgba(179, 179, 179, 0.8);
          //background-color: rgba(179, 179, 179, 0.5);
        }
        &:first-child {
          display: block;
        }
      }
      // Logo block properties
      .logo {
        display: block;
        text-align: center;
        @media (min-width: map-get($grid-breakpoints, "sm")) {
          text-align: left;
        }
        a {
          font-size: 30px;
          min-width: 152px;
          font-weight: 600;
          &:hover {
            color: $mainFontColor;
          }
        }
        span {
          vertical-align: middle;
        }
        p {
          //width: 100%;
          font-size: $smallFontSizeSm;
          @media (min-width: map-get($grid-breakpoints, "md")) {
            font-size: $smallFontSizeMd;
          }

          font-weight: 400;
        }
      }
      // Get a call block properties
      .get-a-call {
        //display: block;
        text-transform: uppercase;
        font-size: $mediumFontSize;
        font-weight: 400;
        text-align: center;
        padding-top: 0;
        vertical-align: middle;
        @media (min-width: map-get($grid-breakpoints, "sm")) {
          padding-top: $basePaddingTopSmAndMd;
        }
        a {
          min-width: ($mediumFontSize * 11) + $radiusOfPhoneCallingIconSvg + 4px;
          svg {
            width: 25px;
            height: 25px;

            // hover on <a> && <svg>
            &:hover {

            }
          }
          &:hover {
            svg {
              box-shadow: 0 0 0 $radiusOfPhoneCallingIconSvg #ffac00;
              background: $mainFontColor2;
              border-radius: 50% 50%;
              fill: #fff;
              animation: tel .8s ease-in infinite;
              @keyframes tel {
                45% {
                  transform: rotate(-0.1turn)
                }
                45% {
                  transform: rotate(0.2turn)
                }
              }
            }
            color: $mainFontColor2;
          }
          span {
            padding-left: $radiusOfPhoneCallingIconSvg - 2;
          }
        }
      }
      // Contact information block properies
      .contact-information {
        display: block;
        text-align: center;
        @media (min-width: map-get($grid-breakpoints, "sm")) {
          text-align: end;
        }
        p {
          font-size: $smallFontSizeMd+1;
          margin-top: 8px;
          margin-bottom: 0;
        }
        a {
          font-weight: bold;
          font-size: $mediumFontSize;
          &:hover {
            color: $mainFontColor2;
          }
        }
      }
    }
  }
  main {
    padding-top: 3px;
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      padding-top: $basePaddingTopSmAndMd;
    }
    h1 {
      display: block;
      line-height: 1.2;
      text-align: center;
      @media (min-width: map-get($grid-breakpoints, "sm")) {
        text-align: left;
      }
      font-size: $bigFontSizeXs;
      @media (min-width: map-get($grid-breakpoints, "sm")) {
        font-size: $bigFontSizeSm;
      }
      @media (min-width: map-get($grid-breakpoints, "md")) {
        font-size: $bigFontSizeMd;
      }
      font-weight: 400;
      padding-left: 3px;
      border-left: 18px solid transparent;
      border-image: url("../img/h1.png");
      border-image-slice: 29;
      border-image-repeat: round;
      span {
        font-size: $bigFontSizeXs - 8;
        @media (min-width: map-get($grid-breakpoints, "sm")) {
          font-size: $bigFontSizeSm - 8;
        }
        @media (min-width: map-get($grid-breakpoints, "md")) {
          font-size: $bigFontSizeMd - 8;
        }
        padding-left: 20px;
        @media (min-width: map-get($grid-breakpoints, "sm")) {
          padding-left: 50px;
        }
      }
    }
    p {
      font-size: $mediumFontSizeXs;
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        font-size: $mediumFontSize;
        padding-top: $basePaddingTop;
      }

    }
    .header-link-bottom {
      display: none;
      padding-left: 0;
      @media (min-width: map-get($grid-breakpoints, "md")) {
        display: block;
        padding-top: 244px;
        padding-left: 18px;
        transform: rotate(-270deg);
      }
    }

    .header-section-form {
      padding: 5px 10px;
      text-align: center;
      min-width: 200px;
      font-weight: 300;
      display: block;
      background-color: rgba(179, 179, 179, 0.5);
      border-radius: 20px;

      @media (min-width: map-get($grid-breakpoints, "sm")) {
        text-align: right;
        max-width: 300px;
      }
      h3 {
        border-right: 18px solid transparent;
        border-image: url("../img/header-form.png");
        border-image-slice: 28;
        border-image-repeat: round;
        padding-right: 5px;

      }

      h5 {
        @media (min-width: map-get($grid-breakpoints, "sm")) {
          font-size: $mediumFontSizeSm;
        }
        font-size: $mediumFontSizeXs;
      }
      form {

        button {
          font-weight: 400;
          color: white;
          letter-spacing: 1.1px;
        }
      }
    }
  }

}

// media for sm+md
@media (min-width: map-get($grid-breakpoints, "sm")) {

}

// media for md
@media (min-width: map-get($grid-breakpoints, "md")) {

}

// media for sm
@media (min-width: map-get($grid-breakpoints, "sm")) and (max-width: map-get($grid-breakpoints, "md")) {

}

//
//#second {
//  padding-bottom: $basePadding;
//  h4 {
//    color: $sectionGrey;
//    font-weight: bold;
//  }
//
//  p {
//    max-width: 400px;
//    margin: 0 auto;
//    color: $sectionGrey;
//  }
//
//  .item {
//    i {
//      font-size: 53px;
//
//      &.first-icon {
//        color: #de65f6;
//      }
//
//      &.second-icon {
//        color: #f6916f;
//      }
//
//      &.third-icon {
//        color: #5cf63c;
//      }
//    }
//  }
//
//  h5 {
//    margin-top: 30px;
//  }
//
//  .btn-success {
//    color: $mainFontColor;
//    font-weight: bold;
//  }
//}
//
//#fourth {
//  @media (min-width: map-get($grid-breakpoints, "md")) {
//    margin-bottom: 30px;
//  }
//  p {
//    font-size: 12px;
//    color: $sectionGrey;
//  }
//  form {
//    ::placeholder {
//      font-size: $formFontSize;
//    }
//    .form-check {
//      margin-top: 12px;
//    }
//    .form-check label {
//      font-size: $formFontSize;
//      display: block;
//      padding-top: 2px;
//    }
//    .btn-success {
//      text-transform: uppercase;
//      color: $mainFontColor;
//      padding: 0 43px;
//      height: 40px;
//      font-size: 13px;
//    }
//  }
//}
//
//footer {
//  @media (min-width: map-get($grid-breakpoints, "md")) {
//    padding-bottom: 30px;
//  }
//  background-color: #162533;
//  ul {
//    li {
//      a {
//        color: $mainFontColor;
//        font-size: 14px;
//        font-weight: 600;
//      }
//    }
//  }
//  .nav-thin-font {
//    a {
//      color: $mainFontColor;
//      text-transform: capitalize;
//      font-weight: 100;
//      font-size: 12px;
//    }
//  }
//  .image-link {
//    width: 40px;
//    height: 40px;
//    background: url(../img/social-sprite.png) 0 0 no-repeat;
//    margin: 8px 8px;
//    opacity: 0.3;
//    &.first-image {
//      background-position: -879px -913px;
//    }
//    &.facebook {
//      background-position: -1151px -1186px;
//    }
//    &.twitter {
//      background-position: -881px -1275px;
//    }
//    &.in {
//      background-position: -972px -1275px;
//    }
//    &.globus {
//      background-position: -1241px -1096px;
//    }
//    &.be {
//      background-position: -881px -1008px;
//    }
//
//  }
//}
//
//
